In [16]:
import pandas as pd

In [17]:
# read the data
df = pd.read_csv('../dataset/time_dependent_data_A1.csv')

In [27]:
# split the time into year, month, day, hour, minute, second
df['year'] = df['Date_ID'].apply(lambda x: str(x)[:4])
df['month'] = df['Date_ID'].apply(lambda x: str(x)[4:6])
df['day'] = df['Date_ID'].apply(lambda x: str(x)[6:8])
df['hour'] = df['Date_ID'].apply(lambda x: str(x)[8:10])
df['minute'] = df['Date_ID'].apply(lambda x: str(x)[10:12])
df['second'] = df['Date_ID'].apply(lambda x: str(x)[12:14])

In [29]:
# add day of week
df['day_of_week'] = pd.to_datetime(df['Date_ID'], format='%Y%m%d%H%M%S').dt.dayofweek

In [34]:
# count num of rows for each day of week
df.groupby('day_of_week').count()['Date_ID']

day_of_week
0    260
1    276
2    264
3    282
4    258
5    262
6    207
Name: Date_ID, dtype: int64

In [35]:
# split time from 00:00 to 23:59 into 6 slots
df['time_slot'] = df['hour'].apply(lambda x: int(x) // 4)

In [38]:
df.groupby('time_slot').count()['hour']

C:\Users\lab\AppData\Local\Temp\ipykernel_29232\4288980208.py:3: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('time_slot').agg({'hour': [min, max]})
C:\Users\lab\AppData\Local\Temp\ipykernel_29232\4288980208.py:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('time_slot').agg({'hour': [min, max]})

          hour
           min max
time_slot
0           00  03
1           04  07
2           08  11
3           12  15
4           16  19
5           20  23

In [40]:
# for each day of week, count the number of rows for each time slot
df.groupby(['day_of_week', 'time_slot']).count()['Date_ID']

day_of_week  time_slot
0            0            24
             1            48
             2            59
             3            52
             4            44
             5            33
1            0            16
             1            53
             2            70
             3            44
             4            54
             5            39
2            0            22
             1            49
             2            62
             3            46
             4            60
             5            25
3            0            20
             1            46
             2            61
             3            49
             4            71
             5            35
4            0            22
             1            34
             2            61
             3            52
             4            52
             5            37
5            0            27
             1            48
             2            59
             3            40
             4            50
             5            38
6            0            31
             1            32
             2            39
             3            35
             4            43
             5            27
Name: Date_ID, dtype: int64

In [42]:
# write the count result to json
accident_list = []
for i in range(7):
    for j in range(6):
        tmp_dict = {
            'day_of_week': i,
            'time_slot': j,
            'count': df.groupby(['day_of_week', 'time_slot']).count()['Date_ID'][i][j]
        }
        accident_list.append(tmp_dict)

In [43]:
accident_list

[{'day_of_week': 0, 'time_slot': 0, 'count': 24},
 {'day_of_week': 0, 'time_slot': 1, 'count': 48},
 {'day_of_week': 0, 'time_slot': 2, 'count': 59},
 {'day_of_week': 0, 'time_slot': 3, 'count': 52},
 {'day_of_week': 0, 'time_slot': 4, 'count': 44},
 {'day_of_week': 0, 'time_slot': 5, 'count': 33},
 {'day_of_week': 1, 'time_slot': 0, 'count': 16},
 {'day_of_week': 1, 'time_slot': 1, 'count': 53},
 {'day_of_week': 1, 'time_slot': 2, 'count': 70},
 {'day_of_week': 1, 'time_slot': 3, 'count': 44},
 {'day_of_week': 1, 'time_slot': 4, 'count': 54},
 {'day_of_week': 1, 'time_slot': 5, 'count': 39},
 {'day_of_week': 2, 'time_slot': 0, 'count': 22},
 {'day_of_week': 2, 'time_slot': 1, 'count': 49},
 {'day_of_week': 2, 'time_slot': 2, 'count': 62},
 {'day_of_week': 2, 'time_slot': 3, 'count': 46},
 {'day_of_week': 2, 'time_slot': 4, 'count': 60},
 {'day_of_week': 2, 'time_slot': 5, 'count': 25},
 {'day_of_week': 3, 'time_slot': 0, 'count': 20},
 {'day_of_week': 3, 'time_slot': 1, 'count': 46},
 {'day_of_week': 3, 'time_slot': 2, 'count': 61},
 {'day_of_week': 3, 'time_slot': 3, 'count': 49},
 {'day_of_week': 3, 'time_slot': 4, 'count': 71},
 {'day_of_week': 3, 'time_slot': 5, 'count': 35},
 {'day_of_week': 4, 'time_slot': 0, 'count': 22},
 {'day_of_week': 4, 'time_slot': 1, 'count': 34},
 {'day_of_week': 4, 'time_slot': 2, 'count': 61},
 {'day_of_week': 4, 'time_slot': 3, 'count': 52},
 {'day_of_week': 4, 'time_slot': 4, 'count': 52},
 {'day_of_week': 4, 'time_slot': 5, 'count': 37},
 {'day_of_week': 5, 'time_slot': 0, 'count': 27},
 {'day_of_week': 5, 'time_slot': 1, 'count': 48},
 {'day_of_week': 5, 'time_slot': 2, 'count': 59},
 {'day_of_week': 5, 'time_slot': 3, 'count': 40},
 {'day_of_week': 5, 'time_slot': 4, 'count': 50},
 {'day_of_week': 5, 'time_slot': 5, 'count': 38},
 {'day_of_week': 6, 'time_slot': 0, 'count': 31},
 {'day_of_week': 6, 'time_slot': 1, 'count': 32},
 {'day_of_week': 6, 'time_slot': 2, 'count': 39},
 {'day_of_week': 6, 'time_slot': 3, 'count': 35},
 {'day_of_week': 6, 'time_slot': 4, 'count': 43},
 {'day_of_week': 6, 'time_slot': 5, 'count': 27}]

In [36]:
df

,發生地點,天候名稱,行動電話或電腦或其他相類功能裝置名稱,Date_ID,是否酒駕,死亡人數,受傷人數,year,month,day,hour,minute,second,day_of_week,time_slot
0,雲林縣,晴,0,20220101023000,0,1,0,2022,01,01,02,30,00,5,0
1,屏東縣,晴,0,20220101060742,0,1,1,2022,01,01,06,07,42,5,1
2,宜蘭縣,晴,0,20220101165000,0,1,0,2022,01,01,16,50,00,5,4
3,南投縣,晴,0,20220101192000,0,1,1,2022,01,01,19,20,00,5,4
4,屏東縣,晴,0,20220101195500,0,1,0,2022,01,01,19,55,00,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,基隆市,雨,0,20221231060000,0,1,2,2022,12,31,06,00,00,5,1
1805,宜蘭縣,雨,0,20221231060953,1,1,0,2022,12,31,06,09,53,5,1
1806,新竹市,晴,0,20221231091958,0,1,0,2022,12,31,09,19,58,5,2
1807,高雄市,陰,0,20221231153000,0,1,1,2022,12,31,15,30,00,5,3
1808,基隆市,雨,0,20221231182000,0,1,1,2022,12,31,18,20,00,5,4